@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
    box-sizing: border-box;

}

body {
    padding: 30px;
}

#jstree-container {
    position: relative;
    height: 400px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#jstree-content {
    flex-grow: 1;
    overflow-y: auto;
}

#memberList {

    height: 400px;
    width: 600px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#usergroup-memberList-content {
    display: flex;
    flex-direction: row;
}

/* #usergroup-content {
    display: flex;
    flex-direction: column;
} */

#search {
    width: calc(100% - 20px); /* 양쪽 여백을 포함해 전체 너비 맞추기 */
    margin: 10px; /* input과 jstree의 경계 간격 */
    box-sizing: border-box;
    height: 20px; /* 높이 증가 */
    padding: 10px; /* 내부 여백 추가 */
    font-size: 16px; /* 텍스트 크기 */
    background-color: white; /* 고정된 검색창의 배경색 */
}

.group-name {
    margin-left: 20px;
}

.memberList-title-area{
    display: flex;

    justify-content: space-between; /* 제목과 버튼을 양 끝으로 배치 */
    align-items: center; /* 버튼과 제목을 수직 가운데 정렬 */
}

.member-add-button {
    margin-right: 20px;
    margin-top:10px;
    background-color: #4a4a4a;
    border: none;
    font-size: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    cursor: pointer; /* 마우스를 올렸을 때 포인터로 변경 */
    outline: none; /* 클릭했을 때 외곽선 제거 */
    padding: 5px 10px;
}

.member-remove-button, .member-edit-button  {
    margin-right: 20px;
    margin-top:10px;
    background-color: #4a4a4a;
    border: none;
    font-size: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    cursor: pointer; /* 마우스를 올렸을 때 포인터로 변경 */
    outline: none; /* 클릭했을 때 외곽선 제거 */
    padding: 5px 10px;
}

.member-add-button:hover {
    background-color: #3a3a3a;
}

.member-grid {
    margin-left: 5px;
}

.addedMembersList {
    width: 900px;
    height: 400px;

}


.button-container {
    display: flex;
    justify-content: flex-end; /* 버튼을 오른쪽 끝으로 배치 */
    gap: 3px; /* 버튼 사이에 간격 추가 */
    margin-top: 10px; /* 버튼 위쪽에 여백 추가 */
    margin-bottom: 10px;
}
#apply {
    background-color: #4a4a4a;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

#apply:hover {
    background-color: #3a3a3a;
}


#group_total, #project_member_total {
    background-color: #4a4a4a; /* 어두운 배경색 */
    color: white; /* 텍스트 색상 */
    border: none; /* 테두리 제거 */
    padding: 5px 10px; /* 버튼 내부 여백 */
    font-size: 12px; /* 텍스트 크기 */
    border-radius: 5px; /* 둥근 모서리 */
    cursor: pointer; /* 마우스 포인터 변경 */
    outline: none; /* 클릭했을 때 외곽선 제거 */
}

#group_total:hover, #project_member_total:hover {
    background-color: #3a3a3a; /* 호버 시 더 어두운 배경색 */
}

#member-apply-title-container {
    border-bottom: 1px solid #989898;
    margin-bottom: 10px;
    width: 900px;
    padding-bottom: 10px;
}
.mem-apply-title {
    font-weight: bold;
    font-size: large;
}
.option-btn-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 900px;
    margin-bottom: 15px;
}
#add-member-by-group {

}

#add-member-by-prjmem {

}
#prjmem_list {
    width: 900px;
    height: 400px;
}