* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #fff;
}

.project-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 50px 70px 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    color: black;
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: calc(100% - 10px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="date"] {
    width: 23%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#pm_id, #status {
    width: 49%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#organization {
    width: 49%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    height: 100px;
}

.full-width {
    width: 100%;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-row .form-group {
    flex: 1;
}

.period-inputs {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
}

.days {
    color: #666;
}

.pm-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

button.pm-search {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 4px;
}

button.pm-search:hover {
    background-color: #ddd;
}

.char-count {
    font-size: 13px;
    text-align: right;
}

.desc-count {
    float: right;
    margin-right: 10px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    float: right;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.save-btn {
    background-color: #4CAF50;
    color: white;
}

button.cancel-btn {
    background-color: #ccc;
    color: black;
}

.no-period {
    width: 26%;
}

#no_days_period, #no_predays_period {
    margin-left: 7px;
}

.required-icon {
    color: red;
}