body {
    font-family: NanumGothic,NanumBarunGothic,"Apple SD Gothic Neo","Malgun Gothic",Dotum,sans-serif !important;
}

.main_content {
    padding-top: 1px !important;
}

.filter-section {
    background-color: #EAEEEF;
    padding: 6px 10px 6px 20px;
    border-radius: 10px;
    border: 1px #ddd solid;
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 10px;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons a {
    border-radius: 5px;
}

.action-buttons button {
    padding: 5px 9px 5px 9px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: gray;
}