* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    font-family: NanumGothic,NanumBarunGothic,"Apple SD Gothic Neo","Malgun Gothic",Dotum,sans-serif !important;
}

.login-container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.input-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f1f5;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}

.input-group input::placeholder {
    color: #888;
}

.login-button {
    width: 26%;
    padding: 10px;
    background-color: #4a65b3;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    align-self: flex-end; /* 오른쪽에 배치 */
    margin-right: 10%;
}

.login-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-button:hover {
    background-color: #3d579a;
}
