table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

.right-panel h2 {
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Set two equal columns */
    gap: 10px; /* Keep the gap between fields */
}

form label {
    grid-column: span 1; /* Ensure labels only take up one column */
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

form input, form select {
    width: 100%;
    padding: 6px 6px 6px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end; /* Aligns the buttons to the right */
    gap: 10px;
    margin-top: 10px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
.buttons button:hover {
    background-color: gray;
}

.wbs-detail-title {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

#wbs_form {
    margin-top: 5px;
}
