<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.pms.domain.common.mapper.CommonMapper">
    <cache />

    <select id="getCommonCodeList" parameterType="string" resultType="com.kcc.pms.domain.common.model.dto.CommonCodeSelectListResponseDto">
        select cd_dtl_no as codeDetailNo, cd_dtl_nm as codeDetailName
        from codedetail
        where common_cd_no = #{commonCodeNo}
        order by order_no
    </select>

</mapper>