<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.pms.domain.member.mapper.MemberMapper">
    <cache />

    <select id="getGroupList" resultType="com.kcc.pms.domain.member.model.dto.GroupResponseDto">
        SELECT GRP_NO as id, GRP_NM as text, PAR_GRP_NO as parentId
        FROM usergroup
    </select>

    <select id="getGroupMemberList" resultType="com.kcc.pms.domain.member.model.dto.GroupMembersResponseDto">
        select m.grp_no, m.mem_no as id, m.mem_nm as memberName, m.phone_no as phoneNo , m.email, tech_cd.cd_dtl_nm as techGrade,
               pos_cd.cd_dtl_nm as positionName, g.grp_nm as groupName
        from member m, codedetail tech_cd, codedetail pos_cd, usergroup g
        where m.tech_grd_cd = tech_cd.cd_dtl_no
          and m.pos_nm = pos_cd.cd_dtl_no
          and m.grp_no = g.grp_no
          and m.grp_no = #{groupNo}
        order by pos_cd.order_no, tech_cd.order_no
    </select>

</mapper>

